<?xml version="1.0"?>
<config>
    <modules>
        <Evozon_QA>
            <version>0.1.2</version>
        </Evozon_QA>
    </modules>
    <global>
        <blocks>
            <evozon_qa>
                <class>Evozon_QA_Block</class>
            </evozon_qa>
        </blocks>
        <models>
            <evozon_qa>
                <class>Evozon_QA_Model</class>
                <resourceModel>qa_resource</resourceModel>
            </evozon_qa>
            <qa_resource>
                <class>Evozon_QA_Model_Resource</class>
                <entities>
                    <qa>
                        <table>catalog_product_questions_answers</table>
                    </qa>
                </entities>
            </qa_resource>
        </models>
        <resources>
            <qa_setup>
                <setup>
                    <module>Evozon_QA</module>
                    <class>Evozon_QA_Model_Resource_Setup</class>
                </setup>
            </qa_setup>
        </resources>
        <helpers>
            <evozon_qa>
                <class>Evozon_QA_Helpers</class>
            </evozon_qa>
        </helpers>
    </global>
    <frontend>
        <routers>
            <evozon_qa>
                <use>standard</use>
                <args>
                    <module>Evozon_QA</module>
                    <frontName>qa</frontName>
                </args>
            </evozon_qa>
        </routers>
        <layout>
            <updates>
                <qa module="Evozon_QA">
                    <file>qa.xml</file>
                </qa>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <evozon_qa before="Mage_Adminhtml">Evozon_QA_Adminhtml</evozon_qa>
                    </modules>
                </args>
                <layout>
                    <update>
                        <qa module="Evozon_QA">
                            <file>qa.xml</file>
                        </qa>
                    </update>
                </layout>
            </adminhtml>
        </routers>
    </admin>
</config>